.home__bg{
   
    
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-slate{
    background-color:#181717;
}
.animation{
    font-size: 40px;
    font-weight: 700;
    color:white;
    margin-bottom: 5px;
    
}

.img{
    height: 400px;
    width: 400px;
   margin-bottom: 15px;
    border: 1px solid #08c1fa ;
    border-radius: 50%;
}
.text{
    color: white;
}
.menu{
    color:#08c1fa ;
}
.nav-bg{
    background-color:#010101 ;
    padding-bottom: 100px;
    padding-top: 10px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    
}
li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
}
.home__content{
    padding: 100px 0px;
}
.welcome{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #08c1fa;
}
h2.home__text{
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
}
.web-dev{
    font-size: 50px;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
    line-height: 40px;
}
h4.home__text{
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    font-family: Montserrat,sans-serif;
    
}
.header{
    transition: .4s all ease;
}
.header.active{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0px 30px;
    background-color: #191919;
}
.toggle__menu {
    display: flex;
    justify-content: flex-end;
    float: right;
    z-index: 1000;
    width: 100%;
}
ul.sidebar.d__flex {
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    right: 0%;
    background: #1c1b1b;
    justify-content: center;
    width: 250px;
    top: 0%;
    flex-direction: column;
}
li.sideNavbar{
    padding: 25px 30px;
}
li.hover:hover{
    color: #08c1fa;
    
}

/* RESPONSIVE */
@media only screen and (max-width: 768px){
 .header{
     justify-content: space-between;
 }
 .navigation.pxy__30 {
        display: none;
    }
h2.white.pz__10 {
    font-size: 50px!important;
}
svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
}
}
@media only screen and (max-width: 425px){
    h2.home__text.pz__10{
    font-size: 32px;
}
h3.sweet.pz__10 {
    font-size: 40px;
}
h1.home__text {
    font-size: 14px;
}
h4.home__text {
    font-size: 45px;
}
.animation{
    font-size: 16px;
    font-weight: 600;
    color:white;
    margin-bottom: 5px;
    
}
}